* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding-top: 50px;
  }
  
  li {
    list-style: none;
  }
  
  input {
    width: 100%;
    border: none;
  }
  
  input:focus {
    outline: none;
  }
  
  input,
  label,
  button {
    display: block;
  }
  
  label,
  button {
    padding: 20px;
    border: 1px solid silver;
  }
  
  button {
    background: transparent;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .add-todo {
    display: flex;
  }
  .add-todo__input {
    width: 100%;
  }
  .add-todo__input input {}
  .add-todo__btn {
    background: green;
    color: white;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  /* todos */
  .todos-block {
  }
  .todo-list {
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0, .3);
    padding: 10px;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
  }
  
  .todo-item:nth-child(odd) {
    background: #f3f3f3;
  }
  .todo-item__index {
    margin-right: 10px;
  }
  .todo-item__input {
    padding: 0;
    border: none;
    margin-right: 10px;
  }
  .todo-item__input input {}
  .todo-item__text {
    margin-right: auto;
    font-weight: bold;
  }
  .todo-item__btns {}
  
  .action-btn {}
  .action-btn {
    border: none;
    padding: 10px;
  }
  .action-btn_del {
    color: red;
    font-size: 20px;
  }